body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 ;
    padding: 50px;
    text-align: center;

}

#suggestions {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    background-color: black;
    color: white;
    z-index: 1000;
    top: 100%;
}


.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header img {
    width: 80px;
    margin-right: 20px;
}

.header h1 {
    font-family: 'Netflix Sans', sans-serif;
    font-size: 24px;
    color: #fff;
    margin: 0;
}

.input-container {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    outline: none;
}


.lists-container {
    display: flex;
    justify-content: space-between;
}

.list {
    width: 48%;
}

h2 {
    font-family: 'Netflix Sans', sans-serif;
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    position: relative;
    background-color: #222;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}


input[type="checkbox"] {
    position: absolute;
    top: 50%;
    right: -150px; 
    transform: translateY(-50%);
}

li:hover {
    background-color: #333;
}
